body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

#header {
  background-color: #fdb515;
  padding: 10px 20px;
  font-size: 28px;
  font-weight: bold;
  font-family: 'Garamond', serif;
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 1px;
}


#umbcLogo {
  height: 40px;
  margin-left: 12px;
}

.logo {
  height: 40px;
}


#main-container {
  display: flex;
  height: calc(100vh - 60px); /* full screen minus header */
}

#sidebar {
  width: 300px;
  background: #f9f9f9;
  padding: 15px;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
  overflow-y: auto;
}

#map {
  flex: 1;
}

.tab {
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  background: #ddd;
  color: #333;
  cursor: pointer;
  border-radius: 8px;
  transition: background 0.3s;
}

.tab:hover {
  background: #ccc;
}

.tab.active {
  background: #bbb;
}

#tabContent input[type="text"] {
  width: 92%;
  padding: 12px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}

#tabContent button {
  width: 100%;
  padding: 12px;
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 16px;
  background-color: #fdb515;
  border: none;
  color: #000000;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
}

#tabContent button:hover {
  background-color: #0056b3;
}

#suggestions {
  background: white;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-top: 4px;
  display: none;
  max-height: 200px;
  overflow-y: auto;
  position: relative;
  z-index: 1000;
}

.suggestion-item {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.suggestion-item:hover {
  background: #f1f1f1;
}

#legend {
  margin-top: 20px;
}

#legend h3 {
  margin-bottom: 10px;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.legend-marker {
  width: 20px;
  height: 20px;
  background: black;
  border-radius: 50%;
  margin-right: 10px;
}

.legend-text {
  font-size: 16px;
}

.dropdown-section {
  margin-top: 20px;
  width: 100%;
}

.dropdown-section label {
  display: block;
  margin-bottom: 6px;
  font-size: 16px;
}

#categoryDropdown {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #ccc;
}
